* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: beige;
}

.container {
    margin: 30px 0px;
}

.game {
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.box {
    height: 18vmin;
    width: 18vmin;
    margin: 6px;
    border-radius: 10px;
    font-size: 8vmin;
    background-color: burlywood;
    color: red;
}

.btn {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 2rem;
    height: 4rem;
    width: 13rem;
    background-color: blueviolet;
}

#msg {
    color: cadetblue;
    font-size: 3.5rem;
    font-weight: bold;
}

.hide {
    display: none;
}